/* --element-order-(theme) */
:root {
    --bg-primary-dark: #13181F;
    --bg-secondary-dark: #171C26;

    --bg-tertiary-dark: #1D2330;

    --text-primary-light: #D2D5E9;

    --highlight-green: #20D998;
    --hover-highlight-green: #1bbe85;
    --highlight-red: #FF5C64;
    --hover-highlight-red: #e04f56;
    --highlight-yellow: #FFBC33;
    --hover-highlight-yellow: #e9ab2f;
    --highlight-purple: #8146FF;
    --hover-highlight-purple: #532ca8;
}

html {
    font-size: 16px;
    font-family: 'Roboto', arial, sans-serif;
}

body {
    background-color: var(--bg-primary-dark);
    color: var(--text-primary-light);
    margin: 0;
    padding: 0;
}

.primary-btn {
    background-color: var(--highlight-purple);
    border: none;
    padding: 0.5em 1em;
    transition: background-color 0.4s ease;
}

.primary-btn:hover {
    background-color: var(--hover-highlight-purple);
}

.secondary-btn {
    background-color: var(--highlight-green);
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    transition: background-color 0.4s ease;
    color: var(--bg-tertiary-dark);
}

.tertiary-btn {
    background-color: var(--bg-tertiary-dark);
    border: none;
    padding: 0.5em 1em;
    transition: background-color 0.4s ease;
}

.tertiary-btn:hover {
    background-color: var(--bg-primary-dark);
}

.secondary-btn:hover {
    background-color: var(--hover-highlight-green);
}

table {
    border-collapse: separate;
    background-color: var(--bg-secondary-dark);
    text-align: center;
    border-radius: 2em;
    border: 1px solid var(--bg-tertiary-dark);
}

th {
    text-align: center;
    padding-bottom : 2em;
}

table button {
    background-color: var(--bg-tertiary-dark);
    border: none;
    color: var(--text-primary-light);
    cursor: pointer;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 2em;
    transition: background-color 0.4s ease;
}

table button:hover {
    background-color: var(--bg-primary-dark);
}

table select {
    background-color: var(--bg-tertiary-dark);
    border: none;
}

input::file-selector-button {
    font-weight: bold;
    background-color: var(--highlight-green);
    color: var(--bg-tertiary-dark);
    padding: 0.5em 1em;
    margin-right: 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

input::file-selector-button:hover {
    background-color: var(--hover-highlight-green);
}

hr {
    border: 1px solid var(--bg-tertiary-dark);
}

.custom-select, .custom-select-list {
    background-color: var(--bg-tertiary-dark);
    transition: background-color 0.4s ease;
}
.custom-select:hover {
    background-color: var(--bg-primary-dark);
}

.custom-select-list div {
    transition: background-color 0.4s ease;
}

.custom-select-list div:hover {
    background-color: var(--bg-primary-dark);
}